<html>
  <head>
    <title>tRiAnGlEs</title>
    <h1>Triangle Type Checker Machine</h1>
  </head>
  <body>
    <p> Simply enter the side lengths of the triangle you would
      like to test, then we'll tell you what type of triangle
      it is!!!</p>

    <form action='/results' method='get'>
      <div class="form-group">
        <input id="firstSide" name="firstSide" class="form-control" type="text">
        <input id="secondSide" name="secondSide" class="form-control" type="text">
        <input id="thirdSide" name="thirdSide" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-info">Button label??</button>
    </form>
  </body>
</html>
